@import '../variables.scss';

#Footer {
    background-color: $primary-blue;
    padding: 40px;
    height: 250px;
    * {
        background-color: $primary-blue;
        color: $primary-white;
        border: none; 
    }
    .row {
        width: 700px;
    }
}