#Footer {
    background: -webkit-linear-gradient(bottom, #13293D, #354E64);
    background: -moz-linear-gradient(bottom, #13293D, #354E64);
    background: linear-gradient(to top, #13293D, #354E64);
    padding: 2.5rem;
    margin: 0 !important;
    position: relative;
    overflow: hidden;
    width: 100% !important;
    @media screen and (min-width: $tablet) and (max-width: 991px){
        padding: 2.5rem 1rem;
    }
    .lifted {
        z-index: 99;
    }
    .footer-logo {
        max-height: 180px;
        max-width: 275px;
        margin: 0 auto;
    }
    .item {
        margin: 0.5rem 0;
        a {
            color: #fff;
            font-size: 1.35rem;
            &:hover {
                color: $primary-red;
            }
        }
    }
    .mobile-only {
        @media screen and (min-width: $tablet){
            display: none;
        }
        display: flex;
        align-items: center;
        height: 350px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -200px;
        width: 400px;
        opacity: 0.25;
    }
}