#DesktopMultiPanel {
    max-height: 300px;
    margin: 2.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    h2 {
        margin: 0;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .title-row {
        max-height: 40px;
    }
    .content{
        display: flex;
        margin-top: 0.5rem;
        max-height: 260px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        .main-img {
            position: relative;
            width: 50%;
            max-height: 100%;
        }
        .secondary-imgs {
            width: 25%;
            max-height: 100%;
            div {
                position: relative;
                height: 50%;
            }
        }
        .list {
            flex: 1 auto;
        }
    }
}

#MobileMultiPanel {
    display: inline-block;
    padding: 1rem;
    width: 50%;
    h4 {
        margin: 0;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .waww-primary {
        justify-content: flex-end;
        align-items: center;
        color: $primary-red;
        height: 25px;
        &:hover {
            text-decoration: none;
        }
        
        i {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            background: $primary-red;
            color: $primary-white;
            border-radius: 0.25rem;
            margin: 0;
        }
    }
    .mosaic {
        display: flex;
        flex-wrap: wrap;
        .img-wrapper {
            width: 50%;
            min-height: 50%;
            position: relative;
        }
    }
    .list {
        padding-left: 1rem;
        .item {
            font-size: 1rem;
            margin: 0.5rem 0;
        }
    }
}