#DesktopNav, #MobileNav {
    background: -webkit-linear-gradient(bottom, #13293D, #354E64);
    background: -moz-linear-gradient(bottom, #13293D, #354E64);
    background: linear-gradient(to top, #13293D, #354E64);
    width: 100%;
    box-shadow: 2px 0px 5px #555;
    height: 65px;
    * {
        color: $primary-white;
    }
    .item {
        display: flex;
        align-items: center;
        margin: 0 15px;
        padding: 5px 0;
        height: 45px;
        &.mobile {
            margin: 0;
        }
    }
    .nav-wrapper {
        max-width: 1100px;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        &.mobile {
            justify-content: space-between;
            padding: 10px 0;
        }
    }
    button {
        cursor: pointer;
    }
}

#DesktopNav {
    .nav-link {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        &.active {
            background: rgb(60,72,86);
            border-left: 1px solid rgba(255,255,255, 0.7);
            border-right: 1px solid rgba(255,255,255, 0.7);
        }
        .border-block {
            position: absolute;
            top: 65px;
            width: 100%;
            box-sizing: border-box;
            height: 1px;
            z-index: 1000;
            background: rgb(60,72,86);
        }
        &.children {
            &.left {
                left: -1px;
            }
            &.right {
                right: -1px;
            }
            &.w-425 {
                width: 425px;
                > div {
                    width: 25%;
                }
            }
            &.w-dynamic {
                width: calc(100% + 75px);
                > div {
                    width: 100%;
                }
            }
            position: absolute;
            background: rgb(60,72,86);
            top: 65px;
            z-index: 999;
            height: auto;
            flex-wrap: wrap;
            font-family: 'Alatsi', sans-serif;
            border: 1px solid rgba(255,255,255, 0.7);
            box-shadow: 0 14px 28px -28px rgba(0,0,0,0.25), 0 10px 10px -10px rgba(0,0,0,0.22);
            > div {
                height: 50px;
                text-align: center;
                padding: 1rem 0.5rem;
            }
            a, span {
                color: $primary-white;
                font-size: 1.1rem;
                -webkit-transition: font-size 0.25s ease-out;
                -moz-transition: font-size 0.25s ease-out;
                -o-transition: font-size 0.25s ease-out;
                transition: font-size 0.25s ease-out;
                &:hover{
                    color: $primary-red;
                    font-size: 1.2rem;
                }

            }
        }
        > a {
            display: flex;
            align-items: center;
            height: 45px;
            padding: 5px 0;
            margin: 0 15px;
            font-size: 1.5rem;
            letter-spacing: 0.05rem;
            &.mobile {
                margin: 0;
            }
        }
    }
    img {
        &.circle {
            display: block;
            width: 50px;
            height: 50px;
            margin: 1em;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-border-radius: 99em;
            -moz-border-radius: 99em;
            border-radius: 99em;
            border: 1px solid #eee;
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
        }
    }
}

#MobileNav {
    z-index: 999;
    position: relative;
    .nav-link {
        font-size: 1.5rem;
        padding: 1rem 0;
        position: relative;
        &.active {
            &::before {
                content: "";
                height: 55px;
                top: 2px;
                position: absolute;
                border-left: 5px solid $primary-red;
            }
        }
        &.children {
            justify-content: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            height: 400px;
            background: rgba(60,72,86, 0.3);
            border-top: 1px solid rgba(255,255,255, 0.7);
            border-bottom: 1px solid rgba(255,255,255, 0.7);
            border-left: none;
            margin-top: 1.5rem;
            > div {
                width: 50%;
                padding: 0.5rem 0;
            }
            a {
                font-family: 'Alatsi', sans-serif;
                font-size: 1.125rem;
                padding: 0.4rem 0;
                width: 50%;
            }
        }
        a, span {
            margin-left: 1.5rem;
        }

    }
    .toggle {
        width: 40px;
        font-size: 1.2rem;
    }
    .nav-wrapper {
        position: relative;
        img {
            width: 90px;
            height: 55px;
            &.profile {
                display: block;
                width: 50px;
                height: 50px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-border-radius: 99em;
                -moz-border-radius: 99em;
                border-radius: 99em;
                border: 1px solid #eee;
                box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
            }
        }
    }
    .mobile-slider {
        &.wrapper {
            width: 100%;
            top: 65px;
            background: -webkit-linear-gradient(top, #081119, #13293D);
            background: -moz-linear-gradient(top, #081119, #13293D);
            background: linear-gradient(to top, #081119, #13293D);
            position: absolute;
            &.active {
                z-index: 999;
            }
        }
    }
}