#FavouritesIcon, #WatchListIcon, #ViewedListIcon, #CloseIcon {
    color: $primary-red;
    cursor: pointer;
}

#CloseCircleIcon {
    color: $primary-red;
}

#SuccessCircleIcon {
    color: #0b8457;
}

