@import './variables.scss';
@import './icons.scss';
@import './toastr.scss';
@import "./components/BannerSlider.scss";
@import './components/CardDeck.scss';
@import './components/CardModal.scss';
@import './components/Carousel.scss';
@import './components/CheckboxGroup.scss';
@import './components/ContentModule.scss';
@import './components//CustomSelect.scss';
@import './components/Footer.scss';
@import './components/Jumbotron.scss';
@import './components/Layout.scss';
@import './components/ListView.scss';
@import './components/ListViewCard.scss';
@import './components//Modal.scss';
@import './components/MultiPanel.scss';
@import './components/Nav.scss';
@import './components//Pagination.scss';
@import './components/Panel.scss';
@import './components//ProfilePictureUpload.scss';
@import './components/ReviewCard.scss';
@import "./components/ReviewSection.scss";
@import './components/SearchBar.scss';
@import './components/SearchResults.scss';
@import './components/SearchResultCard.scss';
@import './components//UpdateUserForm.scss';
@import './components//VideoPlayer.scss';
@import './pages/Account.scss';
@import './pages/Discover.scss';
@import './pages/Error.scss';
@import './pages/Home.scss';
@import './pages/MovieProfile.scss';
@import './static/Login.scss';

@font-face {
    font-family: 'Blackside-Bold';
    src: local('Blackside-Bold'), url(../fonts/Blackside-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Blackside-Bold-Italic';
    src: local('Blackside-Bold-Italic'), url(../fonts/Blackside-Bold-Italic.otf) format('opentype');
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

html, body, #root, #App, #Main {
    min-height: 100vh;
}

a {
    cursor: pointer;
    // &:hover {
    //     &.red {
    //         color: $primary-red !important;
    //     }
    // }
}

.text {
    &.small {
        font-size: 1rem;
        margin-top: 10px;
    }
    &.medium {
        font-size: 1.25rem;
        font-weight: 300;
    }
    &.blue {
        color: $primary-blue !important;
    }
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.fluid {
    height: auto;
    width: 100%;
}


.blur:hover img {
    -webkit-filter: blur(2px);
    filter: blur(4px);
}

.inline-form-field {
    display: flex !important;
    justify-content: space-between;
}

.synopsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.3rem;        /* fallback */
    max-height: 3.9;       /* fallback */
}

.top-layer {
    display: flex;
    justify-content: center;
    pointer-events: all;
    z-index: 99999;
}

.ui.active.loader {
    height: 50px;
    width: 50px;
}

.column-centered {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    align-items: center;
    z-index: 999;
    padding: 30px 0 30px;
    min-width: 405px;
}

.layer-one {
    position: relative;
    z-index: 999;
}

.button-row {
    display: flex;
    justify-content: space-between;
    &.three-buttons{
        .flex-column {
            align-items: center;
            width: 50%;
        }
        .flex * {
            justify-content: center;
            width: 50%;
        }
    }
}

.bold {
    font-weight: bold;
    margin-bottom: 5px;
}

.italic {
    font-style: italic;
}

.title-link {
    &:hover {
        color: $primary-red;
        cursor: pointer;
    }
}

.pointer {
    cursor: pointer;
}

.vertical-hr {
    content: '';
    max-height: 80%;
    display: flex;
    align-items: center;
    width: 2px;
    background-color: $primary-blue;
    opacity: 0.4;
    margin: 0 10px;
}

.inline-jumbo-before {
    content: "";
    background-color: rgba(71, 73, 76, 0.6);
    background-size: cover;
    height: 100%;
    width: 100vw;
    position: absolute;
}

.text-medium {
    font-size: 1.25rem;
}

.ui.button {
    color: $primary-white;
    &.submit {
        background-color: #1A5A60;
    }
    &.delete {
        background-color: $primary-red;
    }
}



.about-images {
    margin-top: 10px;
    margin-left: -25px;
    width: 1600px;
    img {
        width: 100px;
        height: 150px;
        margin-top: -5px;
    }
}

.btn {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    border-radius: .28571429rem;
    color: #fff;
    padding: .5em 1em;
    font-weight: 700;
    line-height: 1em;
    height: 35px;
    &.submit {
        background-color: $primary-red;
    }
    &.remove {
        background-color: $primary-blue;
    }
    &.disabled {
        opacity: .45;
    }

}

.muted-text {
    font-style: italic;
    color: #787878;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

//STYLE REDESIGN !!!!!
.container-max {
    max-width: 1100px;
}
.text {
    &.red {
        color: $primary-red;
    }
    &.white {
        color: $primary-white;
    }
}

.height {
    &.full {
        height: 100vh;
    }
}

.shadow {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}
.border-bottom {
    &.red {
        border-bottom: 1px solid $primary-red !important;
    }
    &.white {
        border-bottom: 1px solid $primary-white !important;
    }
}

.heading {
    font-family: 'Blackside-Bold';
    color: #fff;
    &.large {
        font-size: 3.5rem;
        letter-spacing: 0.25rem;
        @media screen and (min-width: $mobile-S){
            font-size: 2.5rem;
            letter-spacing: 0.20rem;
        }
    }
    &.small {
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
    }
    &.nav {
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
    }
}

.mw {
    &.750 {
        max-width: 750px;
    }
}

.required {
    label {
        &::after{
            display: inline-block;
            vertical-align: top;
            margin: -.2em 0 0 .2em;
            content: '*';
            color: #db2828;
        }
    }
}

#Register, #Login {
    background: -webkit-linear-gradient(bottom, #13293D, #354E64);
    background: -moz-linear-gradient(bottom, #13293D, #354E64);
    background: linear-gradient(to top, #13293D, #354E64);
    min-height: 100vh;
    padding: 1rem;
    font-size: 1.25rem;
    @media screen and (min-width: $tablet){
        padding-top: 1rem;
    }
    .ui.grid {
        margin: 0 auto;
    }
    .form-wrapper {
        min-width: 260px;
        max-width: 600px;
        padding: 2.25rem;
        margin: 0 auto;
        border: 2px solid $primary-red;
        border-radius: 0.5rem;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        &.landing {
            margin-top: 2rem;
        }
    }
    form {
        margin: 1.5rem auto;
        margin-bottom: 0;
        font-size: 1.25rem;
    }
    label, i, input {
        color: $primary-white;
    }
    i {
        cursor: pointer;
    }
    input {
        background: transparent;
        border: none;
        border-radius: 0;
    }
    .input-error {
        color: $primary-red;
        margin-bottom: -0.5rem;
        font-size: 0.9rem;
        min-height: 25px;
    }
    /* Change Autocomplete styles in Chrome*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border-bottom: none;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-color: $primary-white;
        background: transparent !important;
        -webkit-text-fill-color: $primary-white;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        font-size: 1.25rem !important;
        height: inherit;
        -webkit-animation: autofill 0s forwards;
        animation: autofill 0s forwards;
    }
}

.btn {
    &.center {
        margin: 0 auto;
    }
    &.main {
        background: $primary-red;
        &:hover {
            background: $secondary-red;
            color: $primary-white;
        }
    }
}

.flex {
    display: flex;
    flex: 1;
    &.between {
        justify-content: space-between;
    }
    &.center {
        justify-content: center;
    }
    &.end {
        justify-content: flex-end;
    }
    &.no-wrap {
        flex-wrap: nowrap;
    }
    &.align-center {
        align-items: center;
    }
    &.column {
        flex-direction: column;
    }
    &.fluid {
        margin: 0 !important;
    }
    &.wrap {
        flex-wrap: wrap;
    }
}

.footnote {
    color: $primary-white;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    a {
        margin: 0 0.5rem;
        color: $primary-red !important;
        &:hover{
            text-decoration: underline;
        }
    }
}

.logo {
    &.main {
        max-height: 270px;
        max-width: 450px;
        margin: 0 auto;
        cursor: pointer;
    }
}

.my {
    &.small {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.mobile {
    &.none {
        @media screen and (max-width: $mobile-XL-cap){
            display: none !important;
        }
    }
}

.transparent {
    background: transparent !important;
}

.border {
    &.none {
        border: none;
    }
}