//Breakpoints
$mobile-S: 320px;
$mobile-S-cap: 374px;
$mobile-M: 375px;
$mobile-M-cap: 424px;
$mobile-L: 425px;
$mobile-L-cap: 566px;
$mobile-XL: 567px;
$mobile-XL-cap: 767px;
$tablet: 768px;
$tablet-cap: 1023px;
$laptop: 1024px;
$laptop-cap: 1439px;
$desktop: 1440px;

//Colors
$primary-blue: #13293D;
$primary-red: #EF304A;
$primary-white: #F6F4F3;
$font-black : rgba(0,0,0,.87);